// ============================
// BREAKPOINTS
// ============================
$bp-mobile:     480px;
$bp-tablet:     768px;
$bp-desktop:    1024px;
$bp-desktop-xl: 1440px;

// ============================
// COLORES
// ============================
$color-primary: #6f42c1;
$color-background: #f5f6fb;
$color-paper: #ffffff;
$color-text: #222;
// ============================
// FUENTES
// ============================


$font-main: "Segoe UI", Arial, sans-serif;
$font-code: "Cascadia Code", Consolas, monospace;


// ============================
// TAMAÑO-FUENTES
// ============================
