// ============================
// ABSTRACTS
// ============================
@use 'abstracts/variables' as v;
@use "base/reset";

@use "./components/lesson-layout";
@use "./components/lesson-nav";
@use "./components/lesson-notes";
@use "./components/code-block";



// ============================
// BASE
// ============================
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ============================

//   Y mucha paciencia Jonás, que eres capaz de muchas cosas, solo cree en TI
// ============================


